[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dsBase"]
	path = dsBase
	url = https://github.com/stuartwheater/dsbase
[submodule "dsBaseClient"]
	path = dsBaseClient
	url = https://github.com/stuartwheater/dsbaseclient
